<h3>CRÉDITOS</h3>
<br>
<table class="centrada">
  <tr>
    <td>
	  <img src="images/apb2.png">
	</td>
	<td>
	  <strong>Autor: </strong><em>Antonio Postigo Bernal</em><br>
      <strong>Email: </strong><em>apostigo@gmail.com</em><br>
      <strong>Fecha: </strong><em>Junio/Julio 2015</em>
	</td>
   </tr>
</table>