<h3>CRÉDITOS</h3>
<br>
<p>
<img src="images/apb2.png" align="left" height="25%"><strong>Autor: </strong><em>Antonio Postigo Bernal</em><br>
<strong>Email: </strong><em>apostigo@gmail.com</em><br>
<strong>Fecha: </strong><em>Junio 2015</em>

</p>