body { background: #999; }

#page-wrap:after { content: "Wide Layout"; }

nav       { float: left; width: 15%; min-height:300px; }
nav span  { margin: 0px 100px 0px 0px;}
section   { float: right; width: 80%; min-height:300px; }
footer    { clear: both;  display: block; }

th { background-color: black; color: white; padding: 5px;}
td { background-color: #ddd; font-color: black; padding:3px; }

table.centrada { align:center; text-align:center; margin: 0 auto; } 

.right 				 {float: right;}

